@import "~bootstrap/scss/bootstrap";
@import "swiper/css/bundle";
@import "slick-carousel/slick/slick.css";
@import "../../public/assets/scss/main.scss";
@import "../../public/assets/css/style.css";
@import "../../public/assets/css/mains.css";
@import "../../public/assets/css/bhavani.css";
@import "../../public/assets/css/flat-icon.css";


